@page "/accessdenied"

@inject NavigationManager navigationManager
<h3>AccessDenied</h3>

@code {

    protected override async Task OnInitializedAsync()
    {
        navigationManager.NavigateTo("/", true);
        await base.OnInitializedAsync();
    }

}
