<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Navami</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recipe">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Recepie Master
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recipe-category">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Recepie Category
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rawmaterial">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Raw Material
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="category">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Category Master
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="subcategory">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Sub Category
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vendor">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Vendors
            </NavLink>
        </div>

    </nav>
</div>
