@page "/add"
@page "/add/{RecipeCategoryId:int}"
@using System.Security.Claims

@rendermode InteractiveServer
@inject RecipeCategoryService recipeCategoryService
@inject IToastService ToastService
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider


<FluentCard Width="100%" Height="200px">

    <div class="d-flex justify-content-between align-items-center">
        <h3 class="fs-5">@(recipeCategory.Id != 0 ? "Update Recipe Category" : "Add Recipe Category")</h3>
    </div>

    <div class="container mt-2">
        <div class="row row-cols-1 align-content-center justify-content-start">
            <div class="w-50">
                <FluentTextField @bind-Value=recipeCategory.RecipeCategoryName Label="Recipe Category Name"
                    Placeholder="Enter recipe category name" Class="w-100">
                </FluentTextField>
            </div>

            <div class="d-flex justify-content-start align-items-center ml-4">

                <FluentButton Loading="@isLoading" Appearance="Appearance.Accent" OnClick="@AddRecipe">
                    @(recipeCategory.Id != 0 ? "Update" : "Add")
                </FluentButton>
            </div>
        </div>
    </div>
</FluentCard>



@code {

    [CascadingParameter]
    public HttpContext? httpContext { get; set; } = default!;

    [Parameter]
    public int RecipeCategoryId { get; set; }
    private RecipeCategoryDto recipeCategory = new RecipeCategoryDto();
    private string errorMessage = string.Empty;
    private bool isLoading = false;

    protected override void OnInitialized()
    {
        if (RecipeCategoryId != 0)
        {
            var response = recipeCategoryService.GetRecipeCategoryById(RecipeCategoryId);
            if (response.Success)
            {
                recipeCategory = response.Data;
            }
            else
            {
                errorMessage = response.ErrorMessage;
            }
        }
    }

    private void AddRecipe()
    {
        isLoading = true;
        //
        var user = AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User;
        var userId = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
        ApiResponse<RecipeCategoryDto> response;
        if (userId == null)
        {
            errorMessage = "User not found";
            ToastService.ShowError("User not found");
            isLoading = false;
            return;
        }
        recipeCategory.CreatedBy = userId;
        recipeCategory.UpdatedBy = userId;

        if (recipeCategory.Id != 0)
        {
            recipeCategory.UpdatedAt = DateTime.UtcNow.ToString();
            response = recipeCategoryService.UpdateRecipeCategory(recipeCategory);

            if (response.Success)
            {
                ToastService.ShowSuccess("Recipe Category updated successfully");
            }
            else
            {
                errorMessage = response.ErrorMessage;
                ToastService.ShowError(response.ErrorMessage);
            }
            isLoading = false;
            return;
        }

        response = recipeCategoryService.AddRecipeCategory(recipeCategory);
        if (response.Success)
        {
            ToastService.ShowSuccess("Recipe Category added successfully");
        }
        else
        {
            errorMessage = response.ErrorMessage;
        }
        isLoading = false;
    }


}