USE [master]
GO
/****** Object:  Database [navami]    Script Date: 23-09-2024 12:18:33 ******/
CREATE DATABASE [navami]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'navami', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\navami.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'navami_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\navami_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [navami].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [navami]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23-09-2024 12:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryMaster]    Script Date: 23-09-2024 12:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryMaster](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawMaterialUsage]    Script Date: 23-09-2024 12:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawMaterialUsage](
	[RMUsageID] [int] IDENTITY(1,1) NOT NULL,
	[RecipeID] [int] NOT NULL,
	[RMID] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[Cost] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RMUsageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeCategories]    Script Date: 23-09-2024 12:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeCategories](
	[RecipeCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[RecipeCategoryName] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecipeCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeCategoryMapping]    Script Date: 23-09-2024 12:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeCategoryMapping](
	[RecipeCategoryMappingID] [int] IDENTITY(1,1) NOT NULL,
	[RecipeID] [int] NOT NULL,
	[RecipeCategoryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecipeCategoryMappingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeMaster]    Script Date: 23-09-2024 12:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeMaster](
	[RecipeID] [int] IDENTITY(1,1) NOT NULL,
	[RecipeName] [nvarchar](200) NOT NULL,
	[Profile] [nvarchar](100) NULL,
	[Username] [nvarchar](100) NOT NULL,
	[AdjustedCost] [decimal](18, 2) NOT NULL,
	[TotalCost] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecipeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RMMaster]    Script Date: 23-09-2024 12:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RMMaster](
	[RMID] [int] IDENTITY(1,1) NOT NULL,
	[RMCode] [nvarchar](50) NOT NULL,
	[RMName] [nvarchar](150) NOT NULL,
	[IsNewRM] [bit] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[SubCategoryID] [int] NOT NULL,
	[SpecificationNo] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[IsDiscontinued] [bit] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[AddedBy] [uniqueidentifier] NOT NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [uniqueidentifier] NULL,
	[Party] [nvarchar](100) NULL,
	[Price] [decimal](18, 2) NULL,
	[PriceDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[VendorId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[RMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RMPriceMaster]    Script Date: 23-09-2024 12:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RMPriceMaster](
	[RMPriceId] [int] IDENTITY(1,1) NOT NULL,
	[RMID] [int] NOT NULL,
	[SupplierName] [nvarchar](150) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[VendorId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[RMPriceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 23-09-2024 12:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategoryMaster]    Script Date: 23-09-2024 12:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategoryMaster](
	[SubCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[SubCategoryName] [nvarchar](150) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[CategoryName] [nvarchar](100) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23-09-2024 12:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[Username] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Role] [varchar](50) NULL,
	[Mobile] [varchar](15) NULL,
	[Password] [varchar](255) NULL,
	[IsDeactivated] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorMaster]    Script Date: 23-09-2024 12:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorMaster](
	[VendorId] [uniqueidentifier] NOT NULL,
	[VendorName] [nvarchar](150) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240915144121_InitialCreate', N'8.0.8')
GO
SET IDENTITY_INSERT [dbo].[CategoryMaster] ON 

INSERT [dbo].[CategoryMaster] ([CategoryID], [CategoryName], [CreatedBy], [CreatedDate], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (1, N'Salt', N'28f93b30-e855-45aa-b679-061f22fc3516', CAST(N'2024-09-18T20:07:40.707' AS DateTime), NULL, N'28f93b30-e855-45aa-b679-061f22fc3516', 0)
INSERT [dbo].[CategoryMaster] ([CategoryID], [CategoryName], [CreatedBy], [CreatedDate], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (2, N'Flavour', N'28f93b30-e855-45aa-b679-061f22fc3516', CAST(N'2024-09-18T21:34:06.997' AS DateTime), NULL, N'28f93b30-e855-45aa-b679-061f22fc3516', 0)
INSERT [dbo].[CategoryMaster] ([CategoryID], [CategoryName], [CreatedBy], [CreatedDate], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (3, N'Spices', N'28f93b30-e855-45aa-b679-061f22fc3516', CAST(N'2024-09-18T21:34:13.423' AS DateTime), NULL, N'28f93b30-e855-45aa-b679-061f22fc3516', 0)
SET IDENTITY_INSERT [dbo].[CategoryMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[RawMaterialUsage] ON 

INSERT [dbo].[RawMaterialUsage] ([RMUsageID], [RecipeID], [RMID], [Quantity], [Cost]) VALUES (6, 3, 20, CAST(1.00 AS Decimal(18, 2)), CAST(120.00 AS Decimal(18, 2)))
INSERT [dbo].[RawMaterialUsage] ([RMUsageID], [RecipeID], [RMID], [Quantity], [Cost]) VALUES (7, 4, 20, CAST(2.00 AS Decimal(18, 2)), CAST(240.00 AS Decimal(18, 2)))
INSERT [dbo].[RawMaterialUsage] ([RMUsageID], [RecipeID], [RMID], [Quantity], [Cost]) VALUES (8, 4, 1, CAST(1.00 AS Decimal(18, 2)), CAST(150.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[RawMaterialUsage] OFF
GO
SET IDENTITY_INSERT [dbo].[RecipeCategories] ON 

INSERT [dbo].[RecipeCategories] ([RecipeCategoryID], [RecipeCategoryName], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive]) VALUES (1, N'Chana', CAST(N'2024-09-17T22:22:56.000' AS DateTime), CAST(N'2024-09-20T02:18:36.000' AS DateTime), N'28f93b30-e855-45aa-b679-061f22fc3516', N'28f93b30-e855-45aa-b679-061f22fc3516', 0)
INSERT [dbo].[RecipeCategories] ([RecipeCategoryID], [RecipeCategoryName], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive]) VALUES (2, N'Burger', CAST(N'2024-09-17T22:25:23.837' AS DateTime), CAST(N'2024-09-17T22:25:23.837' AS DateTime), N'28f93b30-e855-45aa-b679-061f22fc3516', N'28f93b30-e855-45aa-b679-061f22fc3516', 1)
INSERT [dbo].[RecipeCategories] ([RecipeCategoryID], [RecipeCategoryName], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive]) VALUES (8, N'Peanuts', CAST(N'2024-09-20T07:48:56.890' AS DateTime), CAST(N'2024-09-20T07:48:56.890' AS DateTime), N'28f93b30-e855-45aa-b679-061f22fc3516', N'28f93b30-e855-45aa-b679-061f22fc3516', 0)
SET IDENTITY_INSERT [dbo].[RecipeCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[RecipeCategoryMapping] ON 

INSERT [dbo].[RecipeCategoryMapping] ([RecipeCategoryMappingID], [RecipeID], [RecipeCategoryID]) VALUES (1, 2, 1)
INSERT [dbo].[RecipeCategoryMapping] ([RecipeCategoryMappingID], [RecipeID], [RecipeCategoryID]) VALUES (2, 2, 8)
INSERT [dbo].[RecipeCategoryMapping] ([RecipeCategoryMappingID], [RecipeID], [RecipeCategoryID]) VALUES (4, 2, 9)
SET IDENTITY_INSERT [dbo].[RecipeCategoryMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[RecipeMaster] ON 

INSERT [dbo].[RecipeMaster] ([RecipeID], [RecipeName], [Profile], [Username], [AdjustedCost], [TotalCost], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, N'Aloo Bhujiya', N'Salt,Spicy', N'admin', CAST(86.36 AS Decimal(18, 2)), CAST(85.50 AS Decimal(18, 2)), 0, N'28f93b30-e855-45aa-b679-061f22fc3516', CAST(N'2024-09-20T21:53:14.597' AS DateTime), N'c3b132af-675c-412a-8710-8578c0364a8e', CAST(N'2024-09-22T23:48:15.437' AS DateTime))
INSERT [dbo].[RecipeMaster] ([RecipeID], [RecipeName], [Profile], [Username], [AdjustedCost], [TotalCost], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, N'Chana Masala', N'Salt,Tangy', N'admin', CAST(121.20 AS Decimal(18, 2)), CAST(120.00 AS Decimal(18, 2)), 1, N'c3b132af-675c-412a-8710-8578c0364a8e', CAST(N'2024-09-22T06:12:19.087' AS DateTime), N'c3b132af-675c-412a-8710-8578c0364a8e', CAST(N'2024-09-22T11:42:26.680' AS DateTime))
INSERT [dbo].[RecipeMaster] ([RecipeID], [RecipeName], [Profile], [Username], [AdjustedCost], [TotalCost], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (4, N'Masala Chana', N'Spicy,tangy', N'admin', CAST(564.59 AS Decimal(18, 2)), CAST(559.00 AS Decimal(18, 2)), 1, N'c3b132af-675c-412a-8710-8578c0364a8e', CAST(N'2024-09-22T06:25:01.227' AS DateTime), N'c3b132af-675c-412a-8710-8578c0364a8e', CAST(N'2024-09-22T12:05:14.773' AS DateTime))
SET IDENTITY_INSERT [dbo].[RecipeMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[RMMaster] ON 

INSERT [dbo].[RMMaster] ([RMID], [RMCode], [RMName], [IsNewRM], [CategoryID], [SubCategoryID], [SpecificationNo], [Description], [IsDiscontinued], [AddedOn], [AddedBy], [LastModifiedOn], [LastModifiedBy], [Party], [Price], [PriceDate], [IsActive], [VendorId]) VALUES (1, N'AAA', N'AAA', 1, 2, 2, N'Abasa', N'Information', 0, CAST(N'2024-09-21T19:46:04.537' AS DateTime), N'28f93b30-e855-45aa-b679-061f22fc3516', NULL, NULL, N'Joe Master', CAST(150.00 AS Decimal(18, 2)), CAST(N'2024-09-19T23:28:13.843' AS DateTime), 0, N'6365ad22-594e-4f5f-83f7-3e0b033525f3')
INSERT [dbo].[RMMaster] ([RMID], [RMCode], [RMName], [IsNewRM], [CategoryID], [SubCategoryID], [SpecificationNo], [Description], [IsDiscontinued], [AddedOn], [AddedBy], [LastModifiedOn], [LastModifiedBy], [Party], [Price], [PriceDate], [IsActive], [VendorId]) VALUES (2, N'A12', N'ABC', 0, 1, 2, N'aa', N'asa', 0, CAST(N'2024-09-19T22:29:25.370' AS DateTime), N'28f93b30-e855-45aa-b679-061f22fc3516', NULL, NULL, N'Joe Master', CAST(120.00 AS Decimal(18, 2)), NULL, 1, N'6365ad22-594e-4f5f-83f7-3e0b033525f3')
INSERT [dbo].[RMMaster] ([RMID], [RMCode], [RMName], [IsNewRM], [CategoryID], [SubCategoryID], [SpecificationNo], [Description], [IsDiscontinued], [AddedOn], [AddedBy], [LastModifiedOn], [LastModifiedBy], [Party], [Price], [PriceDate], [IsActive], [VendorId]) VALUES (6, N'aaa', N'aaa', 0, 1, 2, N'aaa', N'aa', 0, CAST(N'2024-09-19T22:34:52.910' AS DateTime), N'28f93b30-e855-45aa-b679-061f22fc3516', NULL, NULL, N'Joe Master', CAST(122.00 AS Decimal(18, 2)), NULL, 1, N'6365ad22-594e-4f5f-83f7-3e0b033525f3')
SET IDENTITY_INSERT [dbo].[RMMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[RMPriceMaster] ON 

INSERT [dbo].[RMPriceMaster] ([RMPriceId], [RMID], [SupplierName], [Price], [CreatedAt], [CreatedBy], [IsActive], [UpdatedBy], [VendorId]) VALUES (12, 16, N'Joe Master', CAST(122.00 AS Decimal(18, 2)), CAST(N'2024-09-19T22:43:27.373' AS DateTime), N'28f93b30-e855-45aa-b679-061f22fc3516', 0, NULL, N'6365ad22-594e-4f5f-83f7-3e0b033525f3')
INSERT [dbo].[RMPriceMaster] ([RMPriceId], [RMID], [SupplierName], [Price], [CreatedAt], [CreatedBy], [IsActive], [UpdatedBy], [VendorId]) VALUES (13, 17, N'Joe Master', CAST(122.00 AS Decimal(18, 2)), CAST(N'2024-09-19T22:44:17.757' AS DateTime), N'28f93b30-e855-45aa-b679-061f22fc3516', 0, NULL, N'6365ad22-594e-4f5f-83f7-3e0b033525f3')
INSERT [dbo].[RMPriceMaster] ([RMPriceId], [RMID], [SupplierName], [Price], [CreatedAt], [CreatedBy], [IsActive], [UpdatedBy], [VendorId]) VALUES (14, 1, N'Joe Master', CAST(150.00 AS Decimal(18, 2)), CAST(N'2024-09-19T23:12:19.197' AS DateTime), N'28f93b30-e855-45aa-b679-061f22fc3516', 0, NULL, N'6365ad22-594e-4f5f-83f7-3e0b033525f3')
SET IDENTITY_INSERT [dbo].[RMPriceMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SubCategoryMaster] ON 

INSERT [dbo].[SubCategoryMaster] ([SubCategoryID], [SubCategoryName], [CategoryID], [CategoryName], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive]) VALUES (2, N'Achari', 1, N'Salt', N'28f93b30-e855-45aa-b679-061f22fc3516', CAST(N'2024-09-18T21:07:01.390' AS DateTime), N'28f93b30-e855-45aa-b679-061f22fc3516', NULL, 0)
INSERT [dbo].[SubCategoryMaster] ([SubCategoryID], [SubCategoryName], [CategoryID], [CategoryName], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive]) VALUES (3, N'Tangy', 2, N'Flavour', N'c3b132af-675c-412a-8710-8578c0364a8e', CAST(N'2024-09-22T11:21:26.717' AS DateTime), N'c3b132af-675c-412a-8710-8578c0364a8e', CAST(N'2024-09-23T11:40:46.520' AS DateTime), 0)
INSERT [dbo].[SubCategoryMaster] ([SubCategoryID], [SubCategoryName], [CategoryID], [CategoryName], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive]) VALUES (4, N'Spicy', 2, N'Flavour', N'c3b132af-675c-412a-8710-8578c0364a8e', CAST(N'2024-09-23T11:53:50.143' AS DateTime), N'c3b132af-675c-412a-8710-8578c0364a8e', NULL, 0)
SET IDENTITY_INSERT [dbo].[SubCategoryMaster] OFF
GO
INSERT [dbo].[Users] ([UserId], [Username], [Email], [Role], [Mobile], [Password], [IsDeactivated]) VALUES (N'28f93b30-e855-45aa-b679-061f22fc3516', N'rohan', N'rohan@gmail.com', N'User', N'123456789', N'$2a$11$DgGnaZHWaG01HR438UnwBubw9li6pisewoHCVfKZ4gHHcnsp1iShq', 0)
INSERT [dbo].[Users] ([UserId], [Username], [Email], [Role], [Mobile], [Password], [IsDeactivated]) VALUES (N'c3b132af-675c-412a-8710-8578c0364a8e', N'admin', N'admin@admin.com', N'Admin', N'9892127795', N'$2a$11$OPfwC3AfY45tLo6hlXmuyuMZweppdEOJdTLCDcke5wMM2XZ8ViTl6', 0)
INSERT [dbo].[Users] ([UserId], [Username], [Email], [Role], [Mobile], [Password], [IsDeactivated]) VALUES (N'd5f13830-ce18-47b3-ba74-a4dd5df0a940', N'demo', N'demo@gmail.com', N'User', N'7261529371', N'$2a$11$RNuDg.mQ5VeJ0W8FN3pfeuTnvuhyfRhovVheuOeWeJtnmSV9fAAkW', 0)
GO
INSERT [dbo].[VendorMaster] ([VendorId], [VendorName], [IsActive], [CreatedBy], [UpdatedBy], [CreatedAt], [UpdatedAt]) VALUES (N'6365ad22-594e-4f5f-83f7-3e0b033525f3', N'Joe Master', 0, N'00000000-0000-0000-0000-000000000000', NULL, CAST(N'2024-09-18T23:06:26.230' AS DateTime), CAST(N'2024-09-22T11:07:10.627' AS DateTime))
INSERT [dbo].[VendorMaster] ([VendorId], [VendorName], [IsActive], [CreatedBy], [UpdatedBy], [CreatedAt], [UpdatedAt]) VALUES (N'f74cb8f1-dbb1-4edf-abed-b8165dd13e76', N'Chetan Bhaghat', 0, N'00000000-0000-0000-0000-000000000000', NULL, CAST(N'2024-09-19T21:56:01.203' AS DateTime), NULL)
GO
ALTER TABLE [dbo].[CategoryMaster] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CategoryMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RecipeCategories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RecipeCategories] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[RecipeCategories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RecipeMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RecipeMaster] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RMMaster] ADD  DEFAULT (getdate()) FOR [AddedOn]
GO
ALTER TABLE [dbo].[RMPriceMaster] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RMPriceMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SubCategoryMaster] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SubCategoryMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[VendorMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VendorMaster] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RawMaterialUsage]  WITH CHECK ADD FOREIGN KEY([RecipeID])
REFERENCES [dbo].[RecipeMaster] ([RecipeID])
GO
ALTER TABLE [dbo].[RawMaterialUsage]  WITH CHECK ADD FOREIGN KEY([RMID])
REFERENCES [dbo].[RMMaster] ([RMID])
GO
ALTER TABLE [dbo].[RecipeCategories]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[RecipeCategories]  WITH CHECK ADD FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[RecipeCategoryMapping]  WITH CHECK ADD FOREIGN KEY([RecipeID])
REFERENCES [dbo].[RecipeMaster] ([RecipeID])
GO
ALTER TABLE [dbo].[RecipeCategoryMapping]  WITH CHECK ADD FOREIGN KEY([RecipeCategoryID])
REFERENCES [dbo].[RecipeCategories] ([RecipeCategoryID])
GO
ALTER TABLE [dbo].[RMMaster]  WITH CHECK ADD  CONSTRAINT [FK_RMMaster_CategoryMaster] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CategoryMaster] ([CategoryID])
GO
ALTER TABLE [dbo].[RMMaster] CHECK CONSTRAINT [FK_RMMaster_CategoryMaster]
GO
ALTER TABLE [dbo].[RMMaster]  WITH CHECK ADD  CONSTRAINT [FK_RMMaster_SubCategoryMaster] FOREIGN KEY([SubCategoryID])
REFERENCES [dbo].[SubCategoryMaster] ([SubCategoryID])
GO
ALTER TABLE [dbo].[RMMaster] CHECK CONSTRAINT [FK_RMMaster_SubCategoryMaster]
GO
ALTER TABLE [dbo].[RMPriceMaster]  WITH CHECK ADD  CONSTRAINT [FK_RMPriceMaster_RMMaster] FOREIGN KEY([RMID])
REFERENCES [dbo].[RMMaster] ([RMID])
GO
ALTER TABLE [dbo].[RMPriceMaster] CHECK CONSTRAINT [FK_RMPriceMaster_RMMaster]
GO
ALTER TABLE [dbo].[SubCategoryMaster]  WITH CHECK ADD  CONSTRAINT [FK_SubCategoryMaster_CategoryMaster] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CategoryMaster] ([CategoryID])
GO
ALTER TABLE [dbo].[SubCategoryMaster] CHECK CONSTRAINT [FK_SubCategoryMaster_CategoryMaster]
GO
/****** Object:  StoredProcedure [dbo].[UpdateRecipeCost]    Script Date: 23-09-2024 12:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateRecipeCost]
    @RecipeID INT
AS
BEGIN
    -- Calculate total cost by summing the cost of all raw materials for the recipe
    DECLARE @TotalCost DECIMAL(18, 2);
    
    SELECT @TotalCost = SUM(Cost)
    FROM RawMaterialUsage
    WHERE RecipeID = @RecipeID;

    -- Update the RecipeMaster table with the calculated total and adjusted cost
    UPDATE RecipeMaster
    SET TotalCost = @TotalCost,
        AdjustedCost = @TotalCost * 1.01,
        UpdatedAt = GETDATE()
    WHERE RecipeID = @RecipeID;
END;
GO
USE [master]
GO
