@page "/"


@attribute [Authorize]

<PageTitle>Home</PageTitle>

<FluentCard Width="100%" Height="600px" style="box-shadow: none;">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h3 class="fs-5">Home
        </h3>
    </div>
</FluentCard>